
  <ion-content>
    <div class="content">
      
    <form class="mt-5 form" #passwordForm 
    ngform="passwordForm" name="form"  (submit)="submitNumber(passwordForm)">
    <h5  class="text-center font-weight-bold text-white mb-4">FORGET PASSWORD</h5>
    <div *ngIf="loading"><ion-progress-bar type="indeterminate"></ion-progress-bar></div>
     <div *ngIf="showNumberForm"  class="text-input mb-2">
         <div >
            <ion-label class="ml-3" position="floating">Phone</ion-label>
            <ion-input class="ml-3" type="number" #number name="number" clearInput [(ngModel)]="model.number"
              autocomplete="off"  minlength="11"  required="true" ></ion-input>
         </div>
     </div>

   <div class="justify-content-center row pt-2">
       <ion-button   type="submit" color="light" (submit)="submitNumber(passwordForm)"
       > <p style="color: #00351a;" class="font-weight-bold">SUBMIT</p> </ion-button>
   </div>

   <div *ngIf="showOTPInput" class="otpsection">
      <p  class="text-center text-white">enter OTP sent to {{model.number}} </p> <br>
   <!-- otp input -->
   <div  class="otp justify-content-center row pt-2">
      <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
  </div>
   </div>

 

  
   </form>

    <!-- loader -->
    <div *ngIf="loading" class=" ">
        <div class="toast-container ">
            <div class="lds-roller"><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div></div>
        </div>
      </div>



    </div>
  </ion-content>
