<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> <div class="row d-flex justify-content-center">
      <img class="rounded-top"  src="../../../assets/icon/Logoicon.png">
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <ion-card class="pt-4" (click)="clickImoEvent()">
      <img src="../../assets/img/imo_pics/imo_event.png" alt="imo_event">
    </ion-card>

      <ion-card class="pt-4" (click)="clickIsabiFans()">
      <img src="../../assets/img/imo_pics/i-sabi_fans_event.png" alt="imo_event">
    </ion-card>
     <ion-card class="pt-4" (click)="clickAwards()">
      <img src="../../assets/img/imo_pics/influencer_event.png" alt="imo_event">
    </ion-card>

  </div>

</ion-content>
