

<ion-content >
<div class=" content">
 
  <ion-card class="scroll-content m-0">
    <!-- <ion-card-header class=" pt-5 font-weight-bold"> LOGIN</ion-card-header> -->
    <ion-card-content class="">
   
       <!-- <div style="margin-top: 30% ;color:white;">
          <h6 class=""> how much do you know?</h6>
      <h6 class="font-weight-bold"> <strong color="sabi">show</strong> us </h6>

      </div>  -->
    
    <!-- loader -->
    <div *ngIf="loading" class=" ">
      <div class="toast-container ">
          <div class="lds-roller"><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div></div>
      </div>
    </div>

        <form class="mt-5 form" #loginForm 
         ngform="loginForm" name="form"  (submit)="login(loginForm)">
         <h1  class="text-center font-weight-bold text-white mb-4">LOGIN</h1>
         <div *ngIf="loading"><ion-progress-bar type="indeterminate"></ion-progress-bar></div>
          <div  class="text-input mb-2">
              <ion-label class="ml-3" position="floating">Phone</ion-label>
              <ion-input class="ml-3" type="number" #number name="number" clearInput [(ngModel)]="model.number"
                autocomplete="off"  minlength="11"  required="true" [pattern]="phoneRegex" ></ion-input>
          </div>
           
          <div  class="text-input mb-2">
              <ion-label class="ml-3"  position="floating">Password</ion-label>
          <ion-input class="ml-3" type="password" input #password name="password" minlength="6"
           [(ngModel)]="model.password" clearInput required="true"></ion-input>
          </div>
          
         
        
        <p class="ml-3 text-white" [routerLink]="['/forgetpassword']" >Forget login details? 
           <a style="color: rgb(191, 247, 191);">get help siging in</a> </p>
        
        
        <div class="justify-content-center row pt-2">
            <ion-button size="small"  type="submit" color="light" (submit)="login(loginForm)"
            > <p style="color: #00351a;" class="font-weight-bold">LOGIN</p> </ion-button>
        </div>
  
          <!-- <div class="justify-content-center row pt-2">
              <ion-button (click)="facebookLogin();" size="small"
               color="light"  class="primary-color-dark text-white">
                  <ion-icon color="success"  name="logo-facebook" class="mr-2"></ion-icon> 
                  login with facebook</ion-button>
         
          </div> -->
     
        </form>
     
        <h6 expand="full" color="success" class=" pt-4 text-center text-white mt-3"
         (click)="register()"  style="color: rgb(224, 253, 224);"> Don't have account?  sign up</h6>

    </ion-card-content>
  </ion-card>
  <div *ngIf="userService.networkDisconnet" id="snackbar">No internet connection</div>
</div>

</ion-content>
